<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="UTF-8">
</head>

<body>
  <table class="chess-board">
    <tbody>

      <tr>
        <th>8</th>
        <input class="div1" type="text" style="color: white;" [(ngModel)]='val'>
        <td class="light"></td>
        <td class="light"></td>
        <input class="div1" type="text" style="color: white;" [(ngModel)]='val'>
      <tr>
        <th>4</th>
        <td class=" light"></td>
        <input class="div1" placeholder="ENTER TEXT" type="text" style="color: white;" [(ngModel)]='val'>
        <td class=" light"></td>
        <td class=" light"></td>
      </tr>
      <tr>
        <th>1</th>
        <input class="div1" type="text" style="color: white;" [(ngModel)]='val'>
        <td class="light"></td>
        <td class="light"></td>
        <input class="div1" type="text" style="color: white;" [(ngModel)]='val'>
      </tr>
    </tbody>
  </table>
</body>

</html>
